<head>
</head>
<body>
  
  <div class="tela-de-login">
    <div class="div">
      <div class="overlap">
        <div class="group">

          <img class="logo" src="assets/Logo.png" />
          <div class="livro-mente">Livro&amp;Mente</div>
        </div>
        <img src="assets/telalogineclipse.png" class="imggrande">
        <div class="overlap-group">
          <div class="text-wrapper">Seja Bem Vindo!</div>
          <p class="fa-a-seu-login-para">Faça seu cadastro <br />para ter acesso</p>
        </div>
      </div>
      <div class="text-wrapper-2">Cadastro de cliente</div>
      <div class="div-wrapper"><div class="text-wrapper-3">Nome:</div></div>

      <div class="div-wrapper-2"><div class="text-wrapper-3">CPF:</div></div>

      <div class="div-wrapper-email"><div class="text-wrapper-3">Email:</div></div>

      <div class="group-wrapper">
        <div class="group-2"><div class="text-wrapper-4">Senha:</div></div>
      </div>

      <div class="overlap-group-wrapper">
        <button type="submit" class="buttonlogin">Cadastrar-se</button>
      </div>
      <div class="text-wrapper-6">Cadastrar-se como cliente</div>
      <form>
      <div class="overlap-wrapper">
        
        <div class="overlap-2">
          <img class="icon-user" src="assets/usericon.svg" />
          <input class="inputNS" type="text" placeholder="Digite seu nome...">
        </div>
      </div>
      <div class="group-cpf">
        <div class="overlap-2">
          <img class="icon-user" src="assets/cpficon.svg" />
          <input class="inputNS" type="text" placeholder="Digite seu CPF...">
        </div>
      </div>
      <div class="group-email">
        <div class="overlap-2">
          <img class="icon-user" src="assets/emailicon.svg" />
          <input class="inputNS" type="text" placeholder="Digite seu Email...">
        </div>
      </div>
      <div class="group-3">
        <div class="overlap-3">
          <img class="icon-lock" src="assets/iconcadeado.svg" />
          <input class="inputNS" type="password" placeholder="Digite sua senha...">
        </div>
      </div>
    </form>
    </div>
    
  </div>
</body>


